<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Reportes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.3/dist/vuetify.min.css">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js" defer></script> 
  
  <script src="helpers.js" defer></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.3/dist/vuetify.min.js" defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

  <script src="components/ReportMenu.js" defer></script>
  <script src="components/ReportConfiguration.js" defer></script>
  <script src="components/ReportNoMovementProducts.js" defer></script>
  <script src="components/ReportOrders.js" defer></script>
  <script src="components/ReportSuggestionToBuy.js" defer></script>
  <script src="components/ReportTableMenu.js" defer></script>
  
  <script src="components/ReportSoldProducts.js" defer></script>
  
  <script src="main.js" defer></script>

  <link rel="stylesheet" href="style.css">
</head>
<body class="container-fluid">
  <div id="app">
    <v-layout>
      <v-app-bar
        elevation="0"
        class="border-b-thin"
      >
        <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer" color="primary"></v-app-bar-nav-icon>
        <v-toolbar-title v-if="currentReport?.report">
          {{currentReport?.report}}
          <v-chip
            v-if="currentReport?.corporation"
            size="small"
            class="ml-3"
            :color="currentReport?.corporation === 'LYC' ? 'red' : 'orange'"
          >
            {{currentReport?.corporation}}
          </v-chip>
          <v-chip class="ml-3" size="small">
            {{currentReport?.from}}
            <span v-if="currentReport?.from" class="mx-2">-</span>
            {{currentReport?.to}}
          </v-chip>
        </v-toolbar-title>
        <v-toolbar-title v-else>Seleccione un reporte en el menú</v-toolbar-title>
      </v-app-bar>

      <v-navigation-drawer
        v-model="drawer"
        width="350"
      >
        <report-configuration
          @generate-report="generateReport"
        />
      </v-navigation-drawer>

      <v-main scrollable>
        <component :is="currentReportComponent" :items="tableItems" :current-report="currentReport" />
      </v-main>
    </v-layout>

    <v-snackbar
      v-model="loadingData"
    >
      Generando reporte...
    </v-snackbar>
  </div>
</body>
</html>
