<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" defer integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" defer integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" defer integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js" defer></script> 

  <script src="helpers.js" defer></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
  <script src="components/ProductosVendidos.js" defer></script>
  <script src="main.js" defer></script>

  <link rel="stylesheet" href="style.css">
</head>
<body class="container-fluid">
  <div id="app">
    <h4 class="my-3">Movimientos de artículos entre fechas:</h4>
    <form>
      <!-- PRIMERA LINEA -->
      <div class="row">
        <select v-model="corporation" class="col-sm-1 form-control form-control-sm ml-3">
          <option value="" selected disabled>Empresa</option>
          <option value="LYC">Lyc</option>
          <option value="RELEVECA">Releveca</option>
        </select>
        <select v-model="queryType" @change="transactions = []; current_search=''" class="col-sm-2 form-control form-control-sm ml-3">
          <option value="" selected disabled>Reporte</option>
          <option value="1">Productos vendidos</option>
          <option value="2">Productos sin movimiento</option>
          <option value="3">Sugerencia de compra</option>
          <option value="4">Rango de notas de entrega</option>
        </select>

        <div v-if="['1', '2', '3'].includes(queryType)" class="row col-sm-8">
          <label for="from" class="col-sm-2 col-form-label text-center">
            <span v-if="queryType === '3'">Evaluar desde</span>
            <span v-else>Desde</span>
          </label>
          <div class="col-sm-2">
            <input class="form-control form-control-sm" :type="dateInputType" id="from" v-model="date_from">
          </div> 
          <label for="to" class="col-sm-1 col-form-label text-center" v-if="queryType !== '3'">
            Hasta
          </label>
          <div class="col-sm-2" v-if="queryType !== '3'">
            <input class="form-control form-control-sm" :type="dateInputType" id="to" v-model="date_to">
          </div> 
          <div class="col-sm-5">
            <button class="btn btn-primary btn-sm mr-2" @click.prevent="getData()">Buscar</button>
            <button class="btn btn-secondary btn-sm" @click.prevent="ExportData()" v-if="transactions.length && current_search">Exportar excel</button>
            <input type="checkbox" id="onlyToBuy" v-model="onlyToBuy" class="mx-2" v-if="transactions.length && current_search && queryType === '3'" />
            <label for="onlyToBuy" v-if="transactions.length && current_search && queryType === '3'">Solo por comprar</label>
          </div>
        </div>

        <div v-if="queryType === '4'" class="form-group row col-sm-8">
          <label for="from" class="col-sm-2 col-form-label text-center">
            Desde
          </label>
          <div class="col-sm-2">
            <input class="form-control form-control-sm" type="number" id="from" v-model="id_from">
          </div> 
          <label for="to" class="col-sm-1 col-form-label text-center">
            Hasta
          </label>
          <div class="col-sm-2">
            <input class="form-control form-control-sm" type="number" id="to" v-model="id_to">
          </div> 
          <div class="col-sm-4">
            <button class="btn btn-primary btn-sm mr-2" @click.prevent="getData()">Buscar</button>
            <button class="btn btn-secondary btn-sm" @click.prevent="ExportData()" v-if="transactions.length && current_search">Exportar excel</button>
          </div>
        </div>
      </div>
      
      <!-- SEGUNA LINEA -->
      <div class="seccond-line">
        <div v-if="queryType === '3'" class="row">
          <label for="order_duration" class="col-sm-2 col-form-label text-center">
            Meses en llegar el pedido
          </label>
          <div class="col-sm-1">
            <input class="form-control form-control-sm" type="number" id="order_duration" v-model="order_duration" @keyup="setDesiredStock">
          </div>
          <label for="order_desired_stock" class="col-sm-2 col-form-label text-center">
            Meses deseados de stock
          </label>
          <div class="col-sm-1">
            <input class="form-control form-control-sm" type="number" id="order_desired_stock" v-model="order_desired_stock">
          </div>
          <div class="col-sm-3" v-if="durationBetweenDates.months > 0">
            Tiempo evaluado: <b>{{durationBetweenDates.months}}</b> meses
          </div>
        </div>
      </div>
     
    </form>

    <h5 class="my-4" v-if="current_search">{{current_search}}:</h5>

    <div v-if="transactions.length && current_search && ['1','2','3'].includes(queryType)" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>
              <span class="pointer" @click="sortTransactionsBy('item')">Artículo</span>
              <input class="form-control form-control-sm" v-model="item_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('description')">Descripción</span>
              <input class="form-control form-control-sm" v-model="description_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('ref')">OEM</span>
              <input class="form-control form-control-sm" v-model="ref_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('sub_line')">Sublínea</span>
              <input class="form-control form-control-sm" v-model="sub_line_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('total')">Vendido</span>
              <input class="form-control form-control-sm" v-model="total_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('stock')">Stock</span>
              <input class="form-control form-control-sm" v-model="stock_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('stock_comprometido')">Stock apartado</span>
              <input class="form-control form-control-sm" v-model="stock_commited_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('stock_esperando')">Stock en espera</span>
              <input class="form-control form-control-sm" v-model="stock_to_arrive_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('provider_description')">Proveedor</span>
              <input class="form-control form-control-sm" v-model="provider_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('last_cost')">Último costo</span>
              <input class="form-control form-control-sm" v-model="last_cost_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('last_cost_date')">Última compra</span>
              <input class="form-control form-control-sm" v-model="last_cost_date_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('last_cost_qty')">Cantidad última compra</span>
              <input class="form-control form-control-sm" v-model="last_cost_date_filter" placeholder="filtrar"></input>
            </th>

            <th v-if="queryType === '3'">
              <span class="pointer" @click="sortTransactionsBy('sales_in_month')">Vendido por mes</span>
              <input class="form-control form-control-sm" v-model="sales_per_month_filter" placeholder="filtrar"></input>
            </th>
            <th v-if="queryType === '3'">
              <span class="pointer" @click="sortTransactionsBy('months_in_stock')">Meses de stock</span>
              <input class="form-control form-control-sm" v-model="months_in_stock_filter" placeholder="filtrar"></input>
            </th>
            <th v-if="queryType === '3'">
              <span class="pointer" @click="sortTransactionsBy('order_suggestion')">Sugerencia</span>
              <select class="form-control form-control-sm" v-model="order_suggestion_filter">
                <option selected></option>
                <option>¡comprar!</option>
                <option>comprar</option>
                <option>no comprar</option>
                <option>¡sobre existencia!</option>
              </select>
            </th>
            <th v-if="queryType === '3'">
              <span class="pointer" @click="sortTransactionsBy('amount_to_buy')">Comprar</span>
            </th>
          </tr>
        </thead>
        <tbody class="my-tbody">
          <tr v-for="t in filteredTransactions">
            <td>{{ t.item }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.ref }}</td>
            <td>{{ t.sub_line }}</td>
            <td>{{ t.total }}</td>
            <td>{{ t.stock }}</td>
            <td>{{ t.stock_commited }}</td>
            <td>{{ t.stock_to_arrive }}</td>
            <td>{{ t.provider }}</td>
            <td>{{ t.last_cost || 0 }}</td>
            <td>{{ t.last_cost_date || 0 }}</td>
            <td>{{ t.last_cost_qty || 0 }}</td>
            <td v-if="queryType === '3'">
              <span>
                {{ (salesPerMonth(t.total) || 0).toFixed(2) }}
              </span>
            </td>
            <td v-if="queryType === '3'">
              <span>
                {{ (monthInStock(t.stock, t.total, t.stock_commited, t.stock_to_arrive) || 0).toFixed(2) }}
              </span>
            </td>
            <td v-if="queryType === '3'">
              <span class="badge badge-secondary" :class="orderSuggestionColor(orderSugesstion(t.stock, t.total, t.stock_commited, t.stock_to_arrive))">
                {{ orderSugesstion(t.stock, t.total, t.stock_commited, t.stock_to_arrive) }}
              </span>
            </td>
            <td v-if="queryType === '3'">
              <input type="number" class="form-control form-control-sm" v-model="transactionPerItem(t.item).amount_to_buy"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div v-if="transactions.length && current_search && queryType === '4'" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>
              <span class="pointer" @click="sortTransactionsBy('item')">Artículo</span>
              <input class="form-control form-control-sm" v-model="item_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('description')">Descripción</span>
              <input class="form-control form-control-sm" v-model="description_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span class="pointer" @click="sortTransactionsBy('store')">Almacén</span>
              <input class="form-control form-control-sm" v-model="store_filter" placeholder="filtrar"></input>
            </th>
            <th>
              <span>Cantidad</span>
              <input class="form-control form-control-sm" v-model="qty_filter" placeholder="filtrar"></input>
            </th>
          </tr>
        </thead>
        <tbody class="my-tbody">
          <tr v-for="t in filteredTransactions">
            <td>{{ t.item }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.store }}</td>
            <td>{{ t.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div v-if="current_search && !filteredTransactions.length">
      <p>No hay movimientos para las fechas seleccionadas</p>
    </div>
  </div>
</body>
</html>
