#app { white-space: pre-line; }

.pointer {
  cursor: pointer;
  user-select: none;
}

.table-sm {
  font-size: 14px !important;
}

.table-responsive{
  height:calc(100vh - 300px);  
  overflow-y:scroll;
}

thead tr:nth-child(1) th{
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

body {
  height: 100vh;
  overflow: hidden;
}

.seccond-line {
  height: 40px;
  padding-top: 5px;
}




html {
  overflow: hidden;
}

ul.v-pagination__list {
  margin: 0 !important;
}

.date-input {
  border: 1px solid rgb(168, 168, 168);
  width: 100%;
  height: 40px;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.table-input {
  border: 1px solid rgb(168, 168, 168);
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}